


how do we perform TDD on this??

DOCUMENTS

node definitions

auto build unit test for each node ??

parent

child

collection

triggers accept a single handler (but they can be automatically aggregated if set)


auto stubbing in offline test mode / optional "test" root collection for online mode

auto convert writes to batch

auto inject certain data

built-in double-trigger prevention & easier retry logic

quick admin/auth requirement wrapping

get takes query options (e.g. .get({limit: 10, where: [field, '==', true]}))
